<!DOCTYPE html >
<html  ng-app='app'><head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
  <title>一加一照明</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/swiper.min.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/astyle.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/amazeui.css">
    <link rel="stylesheet" href="stylesheets/common.css">
    <link rel="stylesheet" href="stylesheets/font/css/font-awesome.min.css">
	<script type="text/javascript">
		window.language = 'english'
	</script>
</head>
<body ng-controller='mainCtrl'>

	  <div class="layout">
	    <div class="layout-header am-hide-sm-only" style='padding-top:42px'>
	      <div class="topbar">
	        <div class="container">
	          <div class="am-g">
	            <div class="am-u-md-3">
	              <div class="topbar-left">
	                <i class="am-icon-globe"></i>
	                <div class="am-dropdown" data-am-dropdown="">
	                  <button class="am-btn am-btn-primary am-dropdown-toggle" ng-click='changeLanguage($event)'>中文 </button>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>


	        <div class="nav-contain">
	          <div class="nav-inner">
	            <ul class="am-nav am-nav-pills am-nav-justify">
	              <li class=""><a href="#/index">home page</a></li>
	              <li>
	                <a href="#product">product center</a>
		                <ul class="sub-menu">
							<li class="menu-item" style='cursor: pointer' ng-click='changeProducts("led")'><a>led</a></li>
							<li class="menu-item" style='cursor: pointer' ng-click='changeProducts("reflector")'><a>reflector</a></li>
							<li class="menu-item" style='cursor: pointer' ng-click='changeProducts("lens")'><a >lens</a></li>
                            <li class="menu-item" style='cursor: pointer' ng-click='changeProducts("electricalSource")'><a >electricalSource</a></li>
						</ul>
	              </li>
	              <li><a  href="#/productGroup">accessory project</a></li>
	              <li>
	                <a href="?id=null#/news">news center</a>
	              </li>
	              <li><a href="#/about">About Us</a></li>
	              <li><a href="#/contact">contact us</a></li>
	            </ul>
	          </div>
	        </div>
	      </div></div>

	    </div>

	    <div ng-view></div>


	    <div style='position:absolute;left:0px;bottom:0px;text-align: center;height:5rem;line-height:5rem;width:100%;background: #7c6aa6;color: #FFFFFF'>Copyright  xxxxxxxx,All Rights Reserved. 
	    </div>


        <div class="layout-footer">
          <div class="footer">
            <div style="background-color:#383d61" class="footer--bg"></div>
            <div class="footer--inner">
              <div class="container">
                <div class="footer_main">
                  <div class="am-g">

                    <div class="am-u-md-3 ">
                      <div class="footer_main--column">
                        <strong class="footer_main--column_title">product center</strong>
                        <ul class="footer_navigation">
                          <li class="footer_navigation--item"><a class="footer_navigation--link" ng-click='changeProducts("led")'>led</a></li>
                          <li class="footer_navigation--item"><a class="footer_navigation--link" ng-click='changeProducts("reflector")'>reflector</a></li>
                          <li class="footer_navigation--item"><a class="footer_navigation--link" ng-click='changeProducts("lens")'>lens</a></li>
                          <li class="footer_navigation--item"><a class="footer_navigation--link" ng-click='changeProducts("electricalSource")'>electricalSource</a></li>
                        </ul>
                      </div>
                    </div>

                    <div class="am-u-md-3 ">
                      <div class="footer_main--column">
                        <strong class="footer_main--column_title">site navigation</strong>
                        <ul class="footer_navigation">
                          <li class="footer_navigation--item"><a href="#/productGroup" class="footer_navigation--link">accessory project</a></li>
                          <li class="footer_navigation--item"><a href="#/news" class="footer_navigation--link">news center</a></li>
                          <li class="footer_navigation--item"><a href="#/about" class="footer_navigation--link">about us</a></li>
                          <li class="footer_navigation--item"><a href="#/contact" class="footer_navigation--link">contact us</a></li>
                        </ul>
                      </div>
                    </div>

                    <div class="am-u-md-3 ">
                      <div class="footer_main--column">
                        <strong class="footer_main--column_title">Contact details</strong>
                        <ul class="footer_contact_info">
                          <li class="footer_contact_info--item"><i class="am-icon-phone"></i><span>phone：13632880686 </span></li>
                          <li class="footer_contact_info--item"><i class="am-icon-envelope-o"></i><span>mail: zdhdq0804@163.com</span></li>
                          <li class="footer_contact_info--item"><i class="am-icon-map-marker"></i><span>address: Four 415 in the seiling industrial zone in the south of shenzhen city</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>



	  </div>
    <script type="text/javascript" src='./javascripts/jquery/dist/jquery.min.js'></script>
    <script type="text/javascript" src='./stylesheets/bootstrap/dist/js/bootstrap.min.js'></script>
    <script type="text/javascript" src='./javascripts/swiper.min.js'></script>
    <script type="text/javascript" src='./javascripts/angular/angular.min.js'></script>
    <script type="text/javascript" src='./javascripts/angular-route/angular-route.min.js'></script>
    <script type="text/javascript" src='./javascripts/main.js'></script>
    <script type="text/javascript" src='./javascripts/index.js'></script>
    <script type="text/javascript" src='./javascripts/product.js'></script>
    <script type="text/javascript" src='./javascripts/getProduct.js'></script>
    <script type="text/javascript" src='./javascripts/aboutCtrl.js'></script>
    <script type="text/javascript" src='./javascripts/contactCtrl.js'></script>
    <script type="text/javascript" src='./javascripts/insideCtrl.js'></script>
    <script type="text/javascript" src='./javascripts/newsCtrl.js'></script>
    <script type="text/javascript" src='./javascripts/productGroupCtrl.js'></script>
    <script type="text/javascript" src='./javascripts/directive/pagequery.js'></script>
</body>
</html>
