<!DOCTYPE html>
<html  ng-app='app' class='js cssanimations'><head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
  <title>一加一照明</title>
      <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/swiper.min.css">
  <link type="text/css" rel="stylesheet" href="stylesheets/astyle.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/amazeui.css">
    <link rel="stylesheet" href="stylesheets/common.css">
    <link rel="stylesheet" href="stylesheets/font/css/font-awesome.min.css">
	<script type="text/javascript">
		window.language = 'chinese'
	</script>
</head>
<body ng-controller='mainCtrl'>
	  <div class="layout" style='background: #FFF'>
	    <div class="layout-header am-hide-sm-only" style='padding-top:42px'>
	      <div class="topbar">
	        <div class="container">
	          <div class="am-g">
	            <div class="am-u-md-3">
	              <div class="topbar-left">
	                <i class="am-icon-globe"></i>
	                <div class="am-dropdown" data-am-dropdown="">
	                  <button class="am-btn am-btn-primary am-dropdown-toggle" ng-click='changeLanguage($event)'>English </button>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>

	        <div class="nav-contain">
	          <div class="nav-inner" >
	            <ul class="am-nav am-nav-pills am-nav-justify" >
	              <li class=""><a href="#/index">首页</a></li>
	              <li>
	                <a href="#/product">产品中心</a>
		                <ul class="sub-menu" >
							<li class="menu-item" style='cursor: pointer' ng-click='changeProducts("reflector")'><a>reflector</a></li>
							<li class="menu-item" style='cursor: pointer' ng-click='changeProducts("led")'><a>led</a></li>
							<li class="menu-item" style='cursor: pointer' ng-click='changeProducts("lens")'><a >lens</a></li>
                            <li class="menu-item" style='cursor: pointer' ng-click='changeProducts("electricalSource")'><a >电源</a></li>
						</ul>
	              </li>
					<li>
						<a href="#/inside">产品案例</a>
						<!-- sub-menu start-->
					<!-- 	<ul class="sub-menu">
						  <li class="menu-item"><a href="#/inside">室内照明</a></li>
						  <li class="menu-item"><a href="#/inside">户外照明</a></li>
						  <li class="menu-item"><a href="#/inside">景观亮化</a></li>
						</ul> -->
					<!-- sub-menu end-->
			  		</li>
	              <li><a href="#/about">关于我们</a></li>
	              <li><a href="#/contact">联系我们</a></li>
	            </ul>
	          </div>
	        </div>
	      </div>
	      </div>

	    </div>

	    <div ng-view></div>



	    <div style='position:absolute;left:0px;bottom:0px;text-align: center;height:5rem;line-height:5rem;width:100%;background: rgba(0, 0, 0, 0.95);;color: #968d8d'>Copyright  xxxxxxxx,All Rights Reserved. </div>


	  </div>
    <script type="text/javascript" src='./javascripts/jquery/dist/jquery.min.js'></script>
    <script type="text/javascript" src='./stylesheets/bootstrap/dist/js/bootstrap.min.js'></script>
    <script type="text/javascript" src='./javascripts/swiper.min.js'></script>
    <script type="text/javascript" src='./javascripts/angular/angular.min.js'></script>
    <script type="text/javascript" src='./javascripts/angular-route/angular-route.min.js'></script>
    <script type="text/javascript" src='./javascripts/main.js'></script>
    <script type="text/javascript" src='./javascripts/index.js'></script>
    <script type="text/javascript" src='./javascripts/product.js'></script>
    <script type="text/javascript" src='./javascripts/getProduct.js'></script>
    <script type="text/javascript" src='./javascripts/aboutCtrl.js'></script>
    <script type="text/javascript" src='./javascripts/contactCtrl.js'></script>
    <script type="text/javascript" src='./javascripts/insideCtrl.js'></script>
</body>
</html>
