html{
	font-size: 10px;
	height: 100%;
}
.nav-contain{
	background: #FFF;
}
body{
	padding-bottom: 5rem !important;
	min-height: 100%;
	height:initial !important;
}
.productGroup_item{
	padding: 0rem 1rem;
	border:1px solid #ddd;
	position:relative;
/*	min-height:150px;*/
	overflow: hidden;
	transition: 0.3s;
}
.productGroup_item_title{
	padding: 1rem 3rem;
	position: relative;
	border:1px solid #ddd;
	cursor: pointer;
}
.productGroup_item_title .open{
	position: absolute;
	top:50%;
	font-size: 16px;
	margin-top: -8px;
	right: 1rem;
}
.productGroup_item_title .close{
	display: none
}
.productGroup_item_img{
	display: block !important;
	height:100px;
	position:absolute;
	right:3rem;
	top:1rem;
}
.productGroup_item_img img{
	height: 100%;
}
.productGroup_item >div span:last-child{
	width:700px;
}
.productGroup_item >div{
	display: table;
	margin:0.7rem 0rem;
}
.productGroup_item >div span{
	display: table-cell;
    vertical-align: top;
}
.productGroup{
	padding: 1rem 1rem;
    cursor: pointer;
    margin:1rem 0rem;
    margin-bottom: 0px;
    transition: 0.3s;
    background:rgba(221, 221, 221, 0.6);
    box-shadow: 0 1px 3px rgba(137, 23, 230, 0.3);
}
.productGroup:hover{
	 background: #DDD;
}
.productGroup:hover p{
	border-left:8px solid rgba(58, 142, 179, 0.61);
	letter-spacing: 1px;
}
.productGroup p{
	transition: 0.2s;
	height: 3rem;
    margin: 0px;
    padding: 0rem 2rem;
    line-height: 3rem;
    border-left: 5px solid #3a8eb3;
    letter-spacing: 0px;
}
.news_footer{
	padding: 1rem 5rem;
	border:none !important;
	text-align: right;
}
.news_footer span{
	cursor: pointer
}
.moreNews:hover{
	color:#59bcdb;
}
.newItem >div{
	width: 450px;
}
.newItem:hover{
	background: rgba(222, 221, 221, 0.7);
	cursor: pointer;
}
.newItem img{
	width:120px;
	height:80px;
	margin:1rem 2rem;
	display:inline-block;
	vertical-align: top;
	transition: 0.3s
}
.newItem:hover img{
	width:140px;
	height:100px;
}
.newItem:hover span{
	opacity: 0.8
}
.newItem span:last-child{
	float:right
}
.newItem span{
	padding:1rem 0rem;
}
.news{
	/*border-bottom: 1px solid #ddd;*/
	margin: 0 auto;
}
.news >div{
	width:100%;
	padding: 0.4rem 14rem;
	line-height: 0;
	border-bottom: 1px solid #ddd;
}
.nav-contain{
	border-bottom: 1px solid #ddd
}
.topbar{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10000;
}
.productList{
	width:100%;
	display:block;
	min-height: 600px;
	background:rgba(255, 255, 255, 0);
}
.selectedHover:hover{
	color:#7c6aa6;
}
.selected-unActive{
	/*height:0px;*/
	transition: 0.5s;
	overflow: hidden;
}
.selected-item{
	color:#FFF;
	background:#7c6aa6;
}
.selected-item:hover{
	color:#FFF !important;
}
.selected-active{
	/*height:16rem;*/
}
.am-nav a{
	font-size: 1.6rem;
}
.selected_item{
	padding: .6rem 5rem;
	display: flex;
	align-items: center;
	border-bottom:1px solid #ddd;
}
.selected_item i{
	color:#d7cecb;
	margin-right: 1rem;
	font-size: 0.7rem;
}
.selected_item span,li,ul{
	display: inline-block;
	font-size: 1.3rem;
	padding:0px;
	margin:0px;
	line-height: 3rem;
	margin-left: 1.5rem;
	font-weight: normal;
	padding:0rem 10px;
	overflow: initial;
}
.selected_item span{
	font-size: 1.6rem;
	padding-left: 0px;
}
.selected_item li:hover{
	color:#7c6aa6;
	cursor: pointer;
}
.products{
	width:16rem;
	display:inline-block;
	background:#FFF;
	margin: 3rem 2.5rem;
    box-shadow:  0px 1px 5px rgba(0,0,0,.5);
	border-radius: 5px;
	vertical-align: top;
	cursor: pointer;
}
.selectShadow{
	width:100%;
	height:100%;
	position: absolute;
	top:0px;
	left:0px;
	border-radius: 5px;
	transition: 0.15s ease-in-out;
	opacity: 0;
	position:relative;
}
.icon_plus{
	position: absolute;
	top:50%;
	left:50%;
	width: 35px;
	height: 35px;
	margin: -20px -50px;
    border: 2px solid #FFF;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}
.icon_plus:hover span{
	color:#CCC;
}
.icon_plus:hover{
	border: 2px solid #CCC;
}
.icon_plus span{
	font-size: 25px;
    color: #FFF;
    line-height: 35px;
}

.selectShadow i{
	position: absolute;
	top:50%;
	left:50%;
	margin-top: -14px;
	font-size: 28px;
	color: #FFFFFF;
}
.product_desc{
	display: table;
	padding:0.2rem 0rem;
}
.product_desc span{
	display: table-cell;
}
.selectShadow i:hover{
	color:#CCC;
}
.selectShadow:hover{
	opacity: 1;
	background: rgba(0, 0, 0, 0.7);
}
.products:hover{
	box-shadow: 0 1px 3px rgba(137, 23, 230, 0.3);
}
.products_cell{
	padding-left: 5rem;
	min-height:500px;
}
.products p,span{
    vertical-align: top;
	font-size: 12px;
	font-family: "helvetica neue",arial,sans-serif;
	margin: 0px;
	display: inline-block;
	padding: 0 5px;
	line-height: 1.35em;
	overflow: hidden;
	word-wrap: break-word;
}
.products_detail{
	padding:0.5rem 1rem;
}
.products img{
    width: 8rem;
	min-height:10rem;
	max-height:13rem;
	display: block
}
.footer_main{
	text-align: center;
}
.footer_main *{
	text-align: left;
}
.main_container{
	width:100% !important;
	padding: 0rem;
}
.main_am-g{
	width:initial;
	display: inline-block;
}
.main_am-g >div{
	width:20rem;
	padding: 0rem 3rem;
}
.main_am-g >div:first-child{
	width:40rem;
}
.main_am-g >div:last-child{
	display: inline-block;
	float:none !important;
}
.footer_navigation--item{
	cursor: pointer
}


::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 999px;
  border: 5px solid transparent;
}

::-webkit-scrollbar-track {
  box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;
}

::-webkit-scrollbar-thumb {
  min-height: 20px;
  background-clip: content-box;
  box-shadow: 0 0 0 5px rgba(0,0,0,.2) inset;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
