<div class="breadcrumb-box">
        <div class="am-container">
          <ol class="am-breadcrumb">
            <li><a href="#/index">首页</a></li>
            <li class="am-active">配套方案</li>
          </ol>
        </div>
</div>
<div style='padding:3rem 15rem '>
	<!-- <p style='padding-top: 3rem;'>配套方案</p> -->
	<div>
		<div class='productGroup' ng-click='showGroups("led")'>
			<p>led配套方案</p>
		</div>
		<div ng-repeat ='led in productGroupList.ledList' ng-show='productGroupList.led' >
			<div class='productGroup_item_title' ng-click='openDetail(led)'>
				{{led.series}}&nbsp;&nbsp;{{led.brand}}
				<i class='glyphicon glyphicon-chevron-right open' ng-show='!led.show'></i>
				<i class='glyphicon glyphicon-chevron-down open' ng-show='led.show'></i>
			</div>
			<div class='productGroup_item'  id='ledGroup' ng-height='led.show'>
				<div class='productGroup_item_img'>
					<img ng-src="{{led.imgUrlList[0]}}">
				</div>
				<div>
					<span>系列:</span><span ng-bind='led.series'></span>
				</div>
				<div>
					<span>型号:</span><span ng-bind='led.brand'></span>
				</div>
				<div>
					<span>参数:</span><span ng-bind='led.parameter'></span>
				</div>
				<div ng-if='led.accessoryUrl'>
					<span>附件:</span><span><a href="{{led.accessoryUrl}}" target="_blank">点击下载</a></span>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class='productGroup' ng-click='showGroups("lens")'>
			<p>lens配套方案</p>
		</div>
		<div ng-repeat ='lens in productGroupList.lensList' ng-show='productGroupList.lens'>
			<div class='productGroup_item_title' ng-click='openDetail(lens)'>
				{{lens.pn}}
				<i class='glyphicon glyphicon-chevron-right open' ng-show='!lens.show'></i>
				<i class='glyphicon glyphicon-chevron-down open' ng-show='lens.show'></i>
			</div>
			<div class='productGroup_item' ng-height='lens.show'>
				<div class='productGroup_item_img'>
					<img ng-src="{{lens.imgUrlList[0]}}">
				</div>
				<div>
					<span>角度:</span><span ng-bind='lens.angel'></span>
				</div>
				<div>
					<span>直径/长:</span><span ng-bind='lens.dimensionX'></span>
				</div>
				<div>
					<span>厚/宽:</span><span ng-bind='lens.dimensionY'></span>
				</div>
				<div>
					<span>led型号:</span><span ng-bind='lens.ledPn'></span>
				</div>
				<div>
					<span>底径/高:</span><span ng-bind='lens.dimensionZ'></span>
				</div>
				<div>
					<span>材料:</span><span ng-bind='lens.material'></span>
				</div>
				<div ng-if='lens.accessoryUrl'>
					<span>附件:</span><span><a href="{{lens.accessoryUrl}}" target="_blank">点击下载</a></span>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class='productGroup' ng-click='showGroups("reflector")'>
			<p>reflector配套方案</p>
		</div>
		<div ng-repeat ='reflector in productGroupList.reflectorList' ng-show='productGroupList.reflector'>
			<div class='productGroup_item_title' ng-click='openDetail(reflector)'>
				{{reflector.series}}&nbsp;&nbsp;{{reflector.model}}
				<i class='glyphicon glyphicon-chevron-right open' ng-show='!reflector.show'></i>
				<i class='glyphicon glyphicon-chevron-down open' ng-show='reflector.show'></i>
			</div>
			<div class='productGroup_item' ng-height='reflector.show'>
				<div class='productGroup_item_img'>
					<img ng-src="{{reflector.imgUrlList[0]}}">
				</div>
				<div>
					<span>系列:</span><span ng-bind='reflector.series'></span>
				</div>
				<div>
					<span>型号:</span><span ng-bind='reflector.model'></span>
				</div>
				<div>
					<span>半光强角度:</span><span ng-bind='reflector.fwhm'></span>
				</div>
				<div>
					<span>直径:</span><span ng-bind='reflector.diameter'></span>
				</div>
				<div>
					<span>高度:</span><span ng-bind='reflector.height'></span>
				</div>
				<div>
					<span>底径:</span><span ng-bind='reflector.bottomDiameter'></span>
				</div>
				<div>
					<span>材质:</span><span ng-bind='reflector.material'></span>
				</div>
				<div>
					<span>标准效率:</span><span ng-bind='reflector.eff'></span>
				</div>
				<div>
					<span>配套LED:</span><span ng-bind='reflector.matchLed'></span>
				</div>
				<div ng-if='reflector.accessoryUrl'>
					<span>附件:</span><span><a href="{{reflector.accessoryUrl}}" target="_blank">点击下载</a></span>
				</div>
			</div>
		</div>
	</div>
</div>
<pagequery allpage='totalPage' page='page' getnews='getNews'></pagequery>
